PORT=3000

POSTGRES_DB=homecode
POSTGRES_USER=homecode
POSTGRES_PASSWORD=cambia-esta-clave
POSTGRES_PORT=5432
DATABASE_URL=postgresql://homecode:cambia-esta-clave@db:5432/homecode?schema=public

JWT_SECRET=cambia-este-jwt-secret
JWT_ACCESS_TOKEN_EXPIRATION=15m
JWT_REFRESH_TOKEN_EXPIRATION=7d

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=noreply@homecode.app
